* {
  background-color: rgb(12, 11, 12);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.action-section {
  height: 12rem;
  margin: 1rem 2rem;
  box-shadow: 0.05rem 0.05rem 0.5rem 0.5rem rgb(171, 141, 185);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (min-width: 600px) {
  .action-section {
    height: 17rem;
    margin: 2rem 2rem;
  }
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.player {
  /* margin: 0 2rem;
  width: 11rem;
  height: 15rem; */
  /* padding-top: 5rem; */
  /* font-size: 24px; */
  /* border: 0.2rem solid rgb(236, 245, 153); */
  width: 3.5rem;
  height: 3.5rem;
  padding-top: 1.3rem;
  box-shadow: 0.05rem 0.05rem 0.5rem 0.5rem rgb(236, 245, 153);
  border-radius: 10%;
  background-color: rgb(119, 163, 150);
  font-size: 0.7rem;
  text-align: center;
  color: rgb(252, 236, 236);
}

@media only screen and (min-width: 600px) {
  .player {
    width: 6rem;
    height: 6rem;
    font-size: 1rem;
    padding-top: 2.3rem;
  }
}

.player-active {
  background-color: rgb(154, 192, 180);
}

.dice-part {
  /* margin-top: 8rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  /* width: 130px;
  height: 130px; */
  /* font-size: 22px; */
  /* margin: 5rem 5rem; */
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 0.5rem;
  border: 2px solid white;
  background-color: rgb(146, 226, 209);
  box-shadow: 0.05rem 0.05rem 0.5rem 0.5rem rgb(104, 177, 171);
  color: rgb(65, 14, 70);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .button {
    width: 5rem;
    height: 5rem;
    font-size: 0.9rem;
  }
}

.button:hover {
  cursor: pointer;
  /* width: 133px;
  height: 133px;
  font-size: 24px; */
  width: 3.3rem;
  height: 3.3rem;
  font-size: 0.6rem;
  background-color: rgb(147, 228, 210);
  box-shadow: 0.05rem 0.05rem 0.5rem 0.5rem rgb(104, 179, 172);
}

@media only screen and (min-width: 600px) {
  .button:hover {
    width: 5.3rem;
    height: 5.3rem;
    font-size: 1rem;
  }
}

.dice-image {
  /* width: 7rem;
  height: 7rem; */
  margin-top: 0.3rem;
  width: 2.8rem;
  height: 2.8rem;
  float: center;
  opacity: 0.8;
  transform: rotate(25deg);
  box-shadow: 0.3rem 0.3rem 0.7rem 0.7rem rgb(135, 124, 139);
}

@media only screen and (min-width: 600px) {
  .dice-image {
    margin-top: 0.7rem;
    width: 3.7rem;
    height: 3.7rem;
  }
}

.rotate {
  transform: rotate(10deg);
}

.table-section {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.snake {
  /* width: 3.75rem;
  height: 3.3rem; */
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  z-index: 999;
  background-color: transparent;
}

@media only screen and (min-width: 600px) {
  .snake {
    margin-top: 0.2rem;
    margin-left: 0.4rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}

.hidden {
  display: none;
}

.table {
  /* margin-top: 8.3rem;
  margin-left: 8.3rem; */
  border-collapse: collapse;
  opacity: 0.9;
  box-shadow: 0.3rem 0.3rem 1rem 1rem rgb(238, 241, 239);
}

.cell {
  /* width: 5rem;
  height: 5rem; */
  width: 2.3rem;
  height: 2.3rem;
  border: 0.08rem solid black;
  vertical-align: top;
  padding-left: 0.2rem;
  font-size: 0.7rem;
}

@media only screen and (min-width: 600px) {
  .cell {
    width: 4rem;
    height: 4rem;
    font-size: 0.9rem;
  }
}

.winner {
  /* width: 45%;
  height: 23rem;
  top: 30%;
  left: 26%; */
  width: 55%;
  height: 20%;
  top: 25%;
  left: 25%;
  background-color: rgb(240, 78, 78);
  border-radius: 3rem;
  border: 0.05rem solid white;
  z-index: 10;
  position: absolute;
  box-shadow: 0.5rem 0.5rem 3rem 3rem rgb(245, 245, 164);
  animation-name: popUpComing;
  animation-duration: 0.6s;
}

@media only screen and (min-width: 600px) {
  .winner {
    width: 65%;
    height: 30%;
    top: 40%;
    left: 20%;
    animation-name: popUpComingTablet;
  }
}

@keyframes popUpComing {
  from {
    width: 0%;
    height: 0%;
    top: 30%;
    left: 50%;
  }
  to {
    width: 55%;
    height: 20%;
    top: 25%;
    left: 25%;
  }
}

@keyframes popUpComingTablet {
  from {
    width: 0%;
    height: 0%;
    top: 45%;
    left: 50%;
  }
  to {
    width: 65%;
    height: 30%;
    top: 40%;
    left: 20%;
  }
}

.winner-text {
  background-color: transparent;
  color: rgb(163, 233, 190);
  font-size: 2rem;
  padding-top: 3rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation-name: winnerTextComing;
  animation-duration: 0.6s;
}

@media only screen and (min-width: 600px) {
  .winner-text {
    font-size: 5.5rem;
    padding-top: 2.5rem;
    animation-name: winnerTextComingTablet;
  }
}

@keyframes winnerTextComing {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 2rem;
  }
}

@keyframes winnerTextComingTablet {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 5.5rem;
  }
}

.close {
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
  font-size: 2rem;
  color: rgb(144, 216, 238);
  border: none;
  cursor: pointer;
  background: transparent;
}

@media only screen and (min-width: 600px) {
  .close {
    top: 1rem;
    right: 1.8rem;
    font-size: 3rem;
  }
}

.overlay {
  filter: saturate(20%);
}

.yellow {
  background-color: rgb(243, 243, 148);
}

.yellow2 {
  background-color: rgb(235, 235, 125);
}

.red {
  background-color: rgb(238, 121, 121);
}

.purple {
  background-color: rgb(166, 133, 194);
}

.sky {
  background-color: rgb(173, 215, 228);
}

.blue {
  background-color: rgb(129, 157, 207);
}

.green {
  background-color: rgb(142, 202, 174);
}

.pink {
  background-color: rgb(231, 160, 222);
}

.orange {
  background-color: rgb(216, 167, 76);
}

.brown {
  background-color: rgba(243, 179, 136, 0.808);
}
